@import '../../../../assets/styles/vars';

.ReferalsTable {
    &.Table {
        width: 100%;
        border-radius: 5px;
        padding: 20px 13px 13px;
    }

    &-Status {
        display: flex;
        flex-direction: column;
       align-items: center;
       text-align: center;
    }

    &-More {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    & .Table-Head,
    & .Table-Row { padding: 0 10px; }

    & &-GameIcon {
        width: 15px;
        height: 15px;
        margin-right: 13px;
    }

    & &-GameName { vertical-align: middle; }

    & &-FairIcon {
        width: 13px;
        height: 13px;
        margin-left: 11px;
    }
    &-Winner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-WinnerAvatar {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: #c4c4c4;
        background-size: contain;
        vertical-align: middle;
    }

    & &-WinnerName {
        vertical-align: middle;
    }
}