@import '../../../../assets/styles/vars';

.LayoutHeader {
    height: 160px;
    padding: 20px;
    background: linear-gradient(270deg, #1b2033 1.56%, #131521 98.33%);

    &-Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-Navigation { padding-left: 5px; }

    &-Right {
        display: flex;
        align-items: center;
    }

    &-Buttons { margin-left: 15px; }

    & &-Button {
        display: inline-block;

        & + .LayoutHeader-Button { margin-left: 10px; }
    }

    & &-InnerButton_isActive .Button-Icon {
        &::before { opacity: 0; }
        &::after { opacity: 1; }
    }
}
