.Prize {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        &:focus {
            outline: none;
        }
    }

    input {
        &:focus {
            outline: #4986f5 1px solid;
        }
    }

    &-Nav {
        display: flex;
        justify-content: space-between;

        &-Item {
            position: relative;
            border: none;
            width: 30%;
            display: flex;
            align-items: center;
            background: #172135;
            height: 100px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 0;
            cursor: pointer;

            &-Img {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #4986f5;
                min-width: 50px;
                height: 50px;
                width: 50px;
                margin: 3%;

                img {
                    width: 18px;
                    height: 18px;
                }
            }

            &-Info {
                display: flex;
                flex-direction: column;
                text-align: left;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 2px;
                bottom: 0px;
                background-color: #4986f5;
                opacity: 0;
                transition: width 0.4s cubic-bezier(0.62, 0.28, 0.23, 0.99), opacity 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99);
            }

            &:hover::after,
            &:active::after,
            &_active::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
}
