@import '../../../assets/styles/vars';

.Payment {
    display: flex;
    background-color: #151f32;
    min-height: 0;

    &-Settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px 20px 20px;
        width: 100%;
    }

    &-RefreshButton {
        display: inline-block;
        padding: 0;
        border: none;
        background: none;
        text-decoration: underline;
        color: $color-white;
        font: inherit;
        cursor: pointer;
        outline: none;

        &:hover {
            text-decoration: none;
        }

        &[disabled] {
            text-decoration: none;
            color: $color-gray;
            cursor: default;
        }
    }

    &-Methods {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #182339;

        :first-child {
            border-top: none;
        }

        &Title {
            padding-left: 20px;
        }

        &_mobile {
            width: 100%;
            background: none;
        }
    }

    &-SelectedMethod {
        border: 1px solid #4986f5;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        align-items: center;

        i {
            transform: rotate(270deg);
        }

        button {
            width: 100%;
        }
    }

    &-MethodsList {
        background: #151f32;
    }

    &-Method {
        height: 50px;
        width: 100%;
        background: none;
        border: none;
        padding-left: 20px;
        display: flex;
        align-items: center;
        border-top: 1px solid #272d39;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &_active {
            height: 50px;
            background-color: #151f32;

            .Payment-Method-Icon {
                width: 32px;
                height: 32px;
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                border-radius: 5px;
            }
        }

        &-Icon {
            width: 32px;
            height: 32px;
            background: hsla(0, 0%, 100%, 0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            border-radius: 5px;

            img {
                width: 100%;
            }
        }

        &-Info {
            text-align: left;
        }
    }

    &-GoToPayment {
        font-weight: 700;
        margin-top: 20px;
        width: 100%;
        height: 54px;
        background: #4986f5;
        color: white;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
        outline: none;
    }

    &-Footer {
        border-top: 1px solid #3a4150;
        padding-top: 20px;
        text-align: center;
    }

    &-FixedAmounts {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &-Amount {
        height: 32px;
        width: 19%;
        border: none;
        background: #182339;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
        padding: 1px 6px;

        &:hover {
            height: 32px;
            width: 19%;
            border: 2px solid #4986f5;
            background: #182339;
            border-radius: 5px;
        }
    }

    &-Amount_active {
        height: 32px;
        width: 19%;
        border: 2px solid #4986f5;
        background: #182339;
        border-radius: 5px;

        :last-child {
            margin-left: 7px;
        }
    }
}
