@import '../../../../assets/styles/vars';

.MonthlyBonuse {
    &-Content {
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &-Intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-Text {
            margin-bottom: 15px;
        }
    }

    &-Slider {
        border-top: rgba(196, 196, 196, 0.05) 2px solid;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-WinnerAvatar {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        background-color: #c4c4c4;
        background-size: contain;
        vertical-align: middle;
    }

    &-Count {
        display: flex;
        height: 60px;
        margin-bottom: 30px;
    }

    &-SingleSlide {
        display: flex;
    }

    &-WinnerInfo {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    & &-WinnerName {
        margin-left: 13px;
        vertical-align: middle;
    }

    &-PeopleCircles {
        margin-top: 20px;
        display: flex;

        :last-child {
            margin-left: 10px;
        }
    }

    &-Expires {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 165px;
        height: 100%;
        padding: 0 18px;
        top: -10px;
        margin-bottom: 20px;
        margin-top: 30px;
  

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 90px;
            height: 40px;
            top: -8px;
            left: 0;
            border-radius: 5px 0 0 5px;
            border: 1px solid $color-gray;
            border-right-width: 0;
            transform: skewX(-10deg);
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 70px;
            height: 40px;
            top: -8px;
            right: 5px;
            border-radius: 0 5px 5px 0;
            border: 1px solid $color-gray;
            border-left-width: 0;
            transform: skewX(-10deg);
            z-index: 1;
        }
    }
}
