@import '../../assets/styles/mixins';

.Scroller {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    &-Viewport {
        flex: auto;
        width: 100%;
        min-width: 0;
        overflow: auto;
        user-select: none;

        @include hide_scrollbar();
    }

    &-Items {
        display: inline-block;
        white-space: nowrap;

        > * { display: inline-block; }
    }

    & &-CaretLeft,
    & &-CaretRight { padding: 10px; }

    & &-CaretRight { transform: rotate(180deg); }
}
