@import '../../../../../assets/styles/vars';

.MiniProfile {
    display: flex;
    align-items: center;
    margin-left: 10px;

    & &-Avatar {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        transform: skewX(-8deg);
        overflow: hidden;
    }

    &-AvatarImg {
        position: absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        transform: skewX(8deg);
    }

    & &-LogOut { margin-left: 15px; }

    & &-LogOutIcon {
        width: 14px;
        height: 14px;
    }
}
