@import '../../../../../assets/styles/vars';
@import '../../../../../assets/styles/mixins';

.WelcomeGamesItem {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 335px;
    height: 230px;
    padding: 25px 20px;
    white-space: initial;

    @include mq(max-width 576px) { 
        flex: 0 0 80%;
     }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;
        z-index: 0;
    }

    &_type_classic::before { 
        background: url('../../../../../assets/img/classicback.png') center center no-repeat;
        background-size: cover;
    }
    &_type_mines::before { 
        background: url('../../../../../assets/img/minesback.png') center center no-repeat;
        background-size: cover;
    }
    &_type_darts::before { 
        background: url('../../../../../assets/img/darts.png') center center no-repeat;
        background-size: cover;
     }
    &_type_knb::before { 
        background: url('../../../../../assets/img/knb.png') center center no-repeat;
        background-size: cover;
    }

    & &-Title {
        position: relative;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
    }

    & &-Description {
        position: relative;
        z-index: 1;

        .Text { color: $color-white; }
    }

    & + & { 
        margin-left: 40px; 
    
        @include mq(max-width 576px) { 
            margin-left: 15px!important;
         }
    }
}
