.PrizeMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    button {
        &:focus {
            outline: none;
        }
    }

    input {
        &:focus {
            outline: #4986f5 1px solid;
        }
    }

    &-Nav {
        display: flex;
        flex-direction: column;

        &-Item {
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            background: #172135;
            height: 100px;
            border-bottom: 1px solid #4986f5;
            padding: 0;

            &-Img {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #4986f5;
                min-width: 50px;
                height: 50px;
                width: 50px;
                margin: 3%;

                img {
                    width: 18px;
                    height: 18px;
                }
            }

            &-Info {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }

        &-Item-Active {
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            background: #172135;
            height: 100px;
            border-bottom: 1px solid #4986f5;
            padding: 0;

            &-Img {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #4986f5;
                min-width: 50px;
                height: 50px;
                margin: 3%;
            }

            &-Info {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }
    }
}
