@import '../../../../assets/styles/vars';

.BonuseTable {
    &.Table {
        max-width: 1030px;
        width: 100%;
        border-radius: 5px;
        padding: 20px 13px 13px;
    }

    & .Table-Head,
    & .Table-Row { padding: 0 10px; }

    & &-GameIcon {
        width: 15px;
        height: 15px;
        margin-right: 13px;
    }

    & &-GameName { vertical-align: middle; }

    & &-FairIcon {
        width: 13px;
        height: 13px;
        margin-left: 11px;
    }
    &-WinnerId{
        position: absolute;
    }
    &-IdContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: 16px;
        background: red;
        border-radius: 50%;
        position: relative;
        left: -5px;
        top: -5px;
    }
    &-WinnerAvatar {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: #c4c4c4;
        background-size: contain;
        vertical-align: middle;
    }

    & &-WinnerName {
        margin-left: 13px;
        vertical-align: middle;
    }
}