@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';

.WelcomeGames {
    padding-top: 20px;
    margin-bottom: 55px;

    &-Head {
        position: relative;
        margin-bottom: 50px;
        text-align: center;

        .Title > .Text > span { color: $color-green; }
    }

    & &-Icon {
        position: absolute;
        width: 38px;
        height: 38px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    &-List .Scroller-Items { 
        padding: 0 50px; 
    
        @include mq(max-width 576px) { 
            display: flex;
            padding: 0 20px!important;
         }
    }

    .WelcomeGamesItem {
        opacity: 0;
        transform: translateX(500px);
        transition: opacity 0.7s $nice-ease, transform 0.7s $nice-ease;

        &:nth-child(1) { transition-delay: 0s; }
        &:nth-child(2) { transition-delay: 0.2s; }
        &:nth-child(3) { transition-delay: 0.4s; }
        &:nth-child(4) { transition-delay: 0.6s; }
    }

    &_inView .WelcomeGamesItem {
        opacity: 1;
        transform: translateX(0);
    }
}
