@import '../../../../assets/styles/vars';
@import '../../../../assets/styles/mixins';

.BlockWithTitle {
    position: relative;

    &-Head {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 80px;
        top: -5px;
        left: 50%;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        z-index: 9;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 290px;
            height: 100%;
            top: 0;
            border-radius: 8px;
            background: $color-dark-gray;
            z-index: 0;
        }

        &::before {
            transform: skewX(-17deg);
            left: 12px;
        }

        &::after {
            transform: skewX(17deg);
            left: 38px;
        }
    }

    & &-Title {
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }

    &-Content {
        padding-top: 65px;
        height: max-content;
        border-radius: 6px;
        background-color: #1d213e;
        background-image: url('../../../../assets/img/gleams.svg');
        background-position: center top;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    @include mq(max-width 1279px) {
        &-Head {
            width: 260px;
            height: 60px;
            top: 0px;

            &::before,
            &::after { width: 210px; }
        }

        & &-Title .Text { font-size: 20px; }
    }
}
