@import '../../../../assets/styles/vars';

.BonuseBanner {
    display: flex;
    flex-direction: column;

    &-Header {
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(270deg, #1b2033 1.56%, #131521 98.33%);

        &-Title {
            margin-bottom: 20px;
        }

        &-Description {
            width: 70%;
        }

        &-CountAndTime {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &-Count {
                display: flex;
                height: 60px;
                margin-bottom: 30px;
            }
        }

        &-Expires {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 165px;
            height: 100%;
            padding: 0 18px;
            top: -10px;
            margin-left: 5%;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 90px;
                height: 40px;
                top: -8px;
                left: 0;
                border-radius: 5px 0 0 5px;
                border: 1px solid $color-gray;
                border-right-width: 0;
                transform: skewX(-10deg);
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 70px;
                height: 40px;
                top: -8px;
                right: 5px;
                border-radius: 0 5px 5px 0;
                border: 1px solid $color-gray;
                border-left-width: 0;
                transform: skewX(-10deg);
                z-index: 1;
            }

        }

        .LayoutBonuse-Tables-Left &::before {
            content: '';
            position: absolute;
            background: url('../../../../assets/img/goldsack.png') 0 0 no-repeat;
            background-size: cover;
            width: 150px;
            height: 150px;
            top: 45%;
            right: 5px;
            transform: translateY(-50%);
        }

        .LayoutBonuse-Tables-Right &::before {
            content: '';
            position: absolute;
            background: url('../../../../assets/img/goldtile.png') 0 0 no-repeat;
            background-size: cover;
            width: 23%;
            height: 100%;
            top: 45%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    &-Main {
        display: flex;
        padding: 25px 0 25px 20px;
        background: #0e1420;
        align-items: center;
        border-bottom: 2px solid rgba(196, 196, 196, 0.1);

        &-Rating {
            margin-right: 50px;

            :nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}
