@import '../../assets/styles/vars';

.Messages {
    display: flex;
    padding: 20px 35px 0 15px;
    max-height: calc(100vh - 135px);
    min-height: calc(100vh - 135px);

    &-Chats { width: 360px; }

    &-ChatsMobile {
        min-height: calc(100vh-155px) !important;
        max-height: calc(100vh-155px) !important;
    }
    &-ChatsList { height: 100%; }

    &-Dialog {
        flex: 1;
        margin-left: 35px;

        & .Panel-Content {
            display: flex;
            flex-direction: column;
        }
    }

    & &-MessagesList {
        flex: 1;
        min-height: 0;
    }

    &-MessagesItems {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 20px;
    }
}
