
.Mines {
    &-BetFormPanel.Panel { height: 100%; }

    &-BetFormTitle.Text,
    &-HistoryTitle.Text { padding-left: 13px; }
    &-GuardButtton{
        border: none;
        background: none;
    }
}
