@import '../../../../assets/styles/vars';

.LayoutHeader {
    height: 160px;
    padding: 20px;
    //background: linear-gradient(270deg, #1b2033 1.56%, #131521 98.33%);
    background: #151724;

    &-Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        z-index: 999;
        //background: linear-gradient(270deg, #1b2033 1.56%, #131521 98.33%);
        background: #151724;
    }


    &-Navigation { padding-left: 5px; }

    & &-Logo { margin-left: 30px; }

    &-Buttons { margin-left: 0; }

    & &-Button {
        display: inline-block;

        & + .LayoutHeader-Button { margin-left: 10px; }
    }

    & &-InnerButton_isActive .Button-Icon {
        &::before { opacity: 0; }
        &::after { opacity: 1; }
    }

    &-LogoImg {
        width: 45px;
    }
}
