@import '../../../assets/styles/vars';

.PrizeActivePromoCodeForm {
    display: flex;
    width: 100%;
    padding: 0 20px;

    &-Input {
        height: 44px;
        background: #222731;
        width: 50%;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        padding: 5px 10px;

        &_error {
            outline-color: $color-red !important;

            &::placeholder {
                color: $color-red;
            }
        }
    }

    button {
        height: 44px;
        background: #4986f5;
        width: 50%;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
        cursor: pointer;
    }
}
