
/* TYPOGRAPHY
   =============================================== */

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

$line-height-xs: 14px;
$line-height-s: 16px;
$line-height-m: 20px;
$line-height-l: 24px;
$line-height-xl: 28px;
$line-height-xxl: 50px;

$base-font-family: OpenSans, sans-serif;

/* COLORS
   =============================================== */

$color-bg: #090d15;
$color-bronze: #cd7f32;
$color-gray: #5e6b86;
$color-silver: #c0c0c0;
$color-white: #fff;
$color-black: #000;
$color-blue: #4282d6;
$color-green: #7dc856;
$color-gold: #feba1d;
$color-gold-bonuse: #ffd700;
$color-red: #fc3838;
$color-pink: #fa42e4;
$color-aqua: #55edff;
$color-dark-blue: #0344a4;
$color-dark-gray: #121d31;

$grad-blue: #2f83fd #5b8efb;
$grad-green: #83c271 #89d44b;

/* OTHER
   =============================================== */

$nice-ease: cubic-bezier(0.62, 0.28, 0.23, 0.99);
